@charset "utf-8";
/* CSS Document */

.controls {
}

#prev, #play, #pause, #next, #shuffle {
	background-image: url(../images/controls.svg);
    cursor: pointer;
    height: 41px;
    position: absolute;
    width: 41px;
}

#prev {
	background-position: 0 -112px;
    left: 205px;
    top: 18px;
}

#prev:hover {
	background-position: -42px -112px;
}

#play {
    height: 55px;
    left: 271px;
    top: 10px;
    width: 55px;
}

#play:hover {
	background-position: -56px 0;
}


#pause {
    background-position: 0 -56px;
    display: none;
    height: 55px;
    left: 271px;
    top: 10px;
    width: 55px;
}

#pause:hover {
	background-position: -56px -56px;
}

#next {
    background-position: 0 -154px;
    right: 205px;
    top: 18px;
}


#next:hover {
    background-position: -42px -154px;
}

#shuffle {
	background-position: 0 -196px;
    right: 134px;
    top: 18px;
}


#shuffle:hover {
	background-position: -42px -196px;
}

.hidden {
	display: none;
}

.visible {
	display: block !important;
}

.mejs-controls .mejs-time-rail .mejs-time-float {
	z-index: 1;
}

.mejs-controls .mejs-button button {
    background: url("../images/controls.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 41px;
    margin: 0;
    right: 44px;
    top: -52px;
    width: 41px;
}

.mejs-controls .mejs-button button:focus {
    outline: none !important;
}

.mejs-controls .mejs-mute button {
    background-position: 0 -280px;
}

.mejs-controls .mejs-unmute button {
	background-position: 0 -238px;
}

.mejs-controls .mejs-mute button:hover {
    background-position: -42px -280px;
}

.mejs-controls .mejs-unmute button:hover {
	background-position: -42px -238px;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 70px;
    left: 15px;
    top: -60px;
    width: 10px;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-total {
    background: none repeat scroll 0 0 #CACACA;
    height: 70px;
    left: 3px;
    top: 0;
    width: 4px;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-current {
    background: none repeat scroll 0 0 #215CAC;
    left: 3px;
    width: 4px;
}

.mejs-controls .mejs-volume-button .mejs-volume-slider .mejs-volume-handle {
    background: url("../images/handle.svg") repeat scroll 0 0 / 10px auto rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 10px;
    left: 0;
    width: 10px;
}