<nav id="main-menu" class="flexChild">
    <ul style="list-style: none; padding: 0; margin: 15px 0;">
        <li class="active" style="">
            <i class="fas fa-home"></i><span class="description">Dashboard</span>
        </li>
        <li class="" style="height: 40px; vertical-align: middle; display: flex; align-items: center;">
            <i class="fas fa-home"></i><span class="description">Dashboard</span>
        </li>
        <li class="" style="height: 40px; vertical-align: middle; display: flex; align-items: center;">
            <i class="fas fa-home"></i><span class="description">Dashboard</span>
        </li>
    </ul>
</nav>

