@charset "utf-8";
/* CSS Document */

.controls {
}

#prev, #play, #pause, #next, #shuffle {
    cursor: pointer;
    height: 42px;
    position: absolute;
    width: 42px;
}

#prev {
    left: 205px;
    top: 18px;
    background-image: url(../images/prevnextshuf.svg);
}

#prev:hover {
	background-position: -42px 0;
}

#play {
    background-image: url("../images/playpause.svg");
    height: 56px;
    left: 271px;
    top: 10px;
    width: 56px;
}

#play:hover {
	background-position: 56px 0;
}


#pause {
    background-image: url("../images/playpause.svg");
    background-position: 0 56px;
    display: none;
    height: 56px;
    left: 271px;
    top: 10px;
    width: 56px;
}

#pause:hover {
	background-position: 56px 56px;
}

#next {
    background-image: url("../images/prevnextshuf.svg");
    background-position: 0 -42px;
    right: 205px;
    top: 18px;
}


#next:hover {
    background-position: -42px -42px;
}

#shuffle {
    right: 134px;
    top: 18px;
    background-image: url(../images/prevnextshuf.svg);
    background-position: 0px -84px;
}


#shuffle:hover {
	background-position: -42px -84px;
}

.hidden {
	display: none;
}

.visible {
	display: block !important;
}